/* =============== Avatar =============== */
.login-btn img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #eee;
    height: 35px;
}

.login-dialog-wrapper.is_login .widget-button {
    padding-bottom: 1.5rem;
}
.login-dialog-wrapper.is_login .widget-button a {
    font-size: 16px;
}

.login-dialog-wrapper.is_login .widget-button a i{
    position: relative;
    display: inline;
    padding: 0 0.5rem;
}
